In [ ]:
import pandas as pd
import numpy as np
import os
import warnings
from tqdm import tqdm  # ì§„í–‰ë¥  í‘œì‹œ
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

# ê²½ê³  ë©”ì‹œì§€ ë¬´ì‹œ
warnings.filterwarnings('ignore')

# ë°ì´í„°ê°€ ìˆëŠ” í´ë” ê²½ë¡œ ì„¤ì • (ìƒëŒ€ ê²½ë¡œ)
DATA_DIR = './open_track1'

# ì£¼ìš” íŒŒì¼ ê²½ë¡œ ì •ì˜
TRAIN_PATH = os.path.join(DATA_DIR, 'train.csv')
TEST_META_PATH = os.path.join(DATA_DIR, 'test.csv')
SUBMISSION_PATH = os.path.join(DATA_DIR, 'sample_submission.csv')

# ê²½ë¡œ í™•ì¸
print(f"ë°ì´í„° ê²½ë¡œ ì„¤ì • ì™„ë£Œ: {DATA_DIR}")
if not os.path.exists(TRAIN_PATH):
    print("ê²½ê³ : train.csv íŒŒì¼ì„ ì°¾ì„ ìˆ˜ ì—†ìŠµë‹ˆë‹¤. í˜„ì¬ í´ë” ìœ„ì¹˜ë¥¼ í™•ì¸í•´ì£¼ì„¸ìš”.")
else:
    print("íŒŒì¼ ê²½ë¡œ í™•ì¸ ì™„ë£Œ!")

ğŸ“‚ ë°ì´í„° ê²½ë¡œ ì„¤ì • ì™„ë£Œ: ./open_track1
âœ… íŒŒì¼ ê²½ë¡œ í™•ì¸ ì™„ë£Œ!

In [ ]:
# ë°ì´í„° ë¡œë“œ
print("ë©”íƒ€ë°ì´í„° ë¡œë”© ì¤‘...")
train_df = pd.read_csv(TRAIN_PATH)
test_meta_df = pd.read_csv(TEST_META_PATH)

print(f"í•™ìŠµ ë°ì´í„°(Train) í¬ê¸°: {train_df.shape}")
print(f"í…ŒìŠ¤íŠ¸ ë©”íƒ€ë°ì´í„°(Test Meta) í¬ê¸°: {test_meta_df.shape}")

# ë°ì´í„° í™•ì¸ (ìƒìœ„ 3ê°œ í–‰)
display(train_df.head(3))

â³ ë©”íƒ€ë°ì´í„° ë¡œë”© ì¤‘...
âœ… í•™ìŠµ ë°ì´í„°(Train) í¬ê¸°: (356721, 15)
âœ… í…ŒìŠ¤íŠ¸ ë©”íƒ€ë°ì´í„°(Test Meta) í¬ê¸°: (2414, 3)

,game_id,period_id,episode_id,time_seconds,team_id,player_id,action_id,type_name,result_name,start_x,start_y,end_x,end_y,is_home,game_episode
0,126283,1,1,0.667,2354,344559,0,Pass,Successful,52.418205,33.485444,31.322445,38.274752,True,126283_1
1,126283,1,1,3.667,2354,250036,2,Pass,Successful,32.013240,38.100808,37.371285,30.632980,True,126283_1
2,126283,1,1,4.968,2354,500145,4,Carry,NaN,37.371285,30.632980,38.391570,24.613144,True,126283_1

In [4]:
# 1. ë°ì´í„° ì •ë ¬ (ê²Œì„ > ì—í”¼ì†Œë“œ > ì•¡ì…˜ ìˆœì„œ)
train_df = train_df.sort_values(['game_id', 'episode_id', 'action_id'])

# 2. ê° ì—í”¼ì†Œë“œì˜ 'ë§ˆì§€ë§‰ í–‰'ë§Œ ì¶”ì¶œ (ìš°ë¦¬ê°€ ì˜ˆì¸¡í•´ì•¼ í•  ì‹œì )
train_last_actions = train_df.drop_duplicates(subset=['game_episode'], keep='last').copy()

# 3. í•™ìŠµì— ì‚¬ìš©í•  í”¼ì²˜(Feature)ì™€ íƒ€ê²Ÿ(Target) ì •ì˜
# í”¼ì²˜: ì‹œì‘ ì¢Œí‘œ, í–‰ë™ ì¢…ë¥˜, íŒ€ ID, ì‹œê°„
features = ['start_x', 'start_y', 'type_name', 'team_id', 'time_seconds']
# íƒ€ê²Ÿ: ì¢…ë£Œ ì¢Œí‘œ (ì˜ˆì¸¡ ëŒ€ìƒ)
target_cols = ['end_x', 'end_y']

# 4. X(ì…ë ¥), y(ì •ë‹µ) ë°ì´í„° ë¶„ë¦¬
X_train_raw = train_last_actions[features]
y_train = train_last_actions[target_cols]

print(f"ì „ì²˜ë¦¬ ì™„ë£Œëœ í•™ìŠµ ë°ì´í„° í¬ê¸°: {X_train_raw.shape}")
display(X_train_raw.head())

ì „ì²˜ë¦¬ ì™„ë£Œëœ í•™ìŠµ ë°ì´í„° í¬ê¸°: (15435, 5)

       start_x    start_y type_name  team_id  time_seconds
48  101.054205  52.757324      Pass     2354       124.367
51  100.221660   0.066028      Pass     2354       194.067
58    5.457847  66.343459      Pass     4639       215.033
61   60.171825   2.108816      Pass     2354       227.733
84   33.185670  26.107444      Pass     2354       255.767

In [5]:
test_data_list = []

# test.csvì˜ íŒŒì¼ ê²½ë¡œë¥¼ í•˜ë‚˜ì”© ìˆœíšŒí•˜ë©° ì½ê¸°
for index, row in tqdm(test_meta_df.iterrows(), total=len(test_meta_df)):
    # 1. ê²½ë¡œ ìˆ˜ì •: ./test/... -> ./open_track1/test/...
    original_path = row['path']
    clean_path = original_path.lstrip('./').lstrip('.\\') # ì•ìª½ ./ ì œê±°
    file_path = os.path.join(DATA_DIR, clean_path) # ì˜¬ë°”ë¥¸ ê²½ë¡œ ê²°í•©
    
    episode_id = row['game_episode']
    
    try:
        # ê°œë³„ CSV ë¡œë“œ
        df = pd.read_csv(file_path)
        
        # ë§ˆì§€ë§‰ í–‰ ì¶”ì¶œ (ì´ ë°ì´í„°ë¡œ ë‹¤ìŒ ì¢Œí‘œë¥¼ ì˜ˆì¸¡í•´ì•¼ í•¨)
        last_row = df.iloc[-1]
        
        # ë¦¬ìŠ¤íŠ¸ì— ì¶”ê°€
        test_data_list.append({
            'game_episode': episode_id,
            'start_x': last_row['start_x'],
            'start_y': last_row['start_y'],
            'type_name': last_row['type_name'],
            'team_id': last_row['team_id'],
            'time_seconds': last_row['time_seconds']
        })
        
    except FileNotFoundError:
        print(f"íŒŒì¼ì„ ì°¾ì„ ìˆ˜ ì—†ìŒ: {file_path}")
    except Exception as e:
        print(f"ì½ê¸° ì˜¤ë¥˜ ë°œìƒ {file_path}: {e}")

# ë¦¬ìŠ¤íŠ¸ë¥¼ DataFrameìœ¼ë¡œ ë³€í™˜
X_test_raw = pd.DataFrame(test_data_list)
print(f"ìƒì„±ëœ í…ŒìŠ¤íŠ¸ ë°ì´í„° í¬ê¸°: {X_test_raw.shape}")
display(X_test_raw.head())

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 2414/2414 [00:45<00:00, 53.04it/s]

ìƒì„±ëœ í…ŒìŠ¤íŠ¸ ë°ì´í„° í¬ê¸°: (2414, 6)

  game_episode    start_x    start_y type_name  team_id  time_seconds
0     153363_1  57.801450   9.203664      Pass     4639        83.133
1     153363_2  19.552575  47.239464      Pass     4220       114.967
2     153363_6  20.025705  63.088870      Pass     4220       261.289
3     153363_7  38.639790   8.072620      Pass     4639       295.167
4     153363_8  66.560550  15.260288      Pass     4220       348.149

In [6]:
le = LabelEncoder()

# Trainê³¼ Testì˜ ëª¨ë“  ì´ë²¤íŠ¸ íƒ€ì…(type_name)ì„ í†µí•©í•˜ì—¬ í•™ìŠµ
# (Testì—ë§Œ ìˆëŠ” ìƒˆë¡œìš´ í–‰ë™ì´ ìˆì„ ìˆ˜ë„ ìˆìœ¼ë¯€ë¡œ)
all_types = pd.concat([X_train_raw['type_name'], X_test_raw['type_name']]).unique()
le.fit(all_types)

# ì›ë³¸ ë°ì´í„° ë³µì‚¬ í›„ ë³€í™˜ ì ìš©
X_train = X_train_raw.copy()
X_test = X_test_raw.copy()

X_train['type_name'] = le.transform(X_train_raw['type_name'])
X_test['type_name'] = le.transform(X_test_raw['type_name'])

# í…ŒìŠ¤íŠ¸ ë°ì´í„°ì—ì„œ ì‹ë³„ì(ID) ë¶„ë¦¬ (ëª¨ë¸ì—ëŠ” ì…ë ¥í•˜ì§€ ì•ŠìŒ)
# game_episode ì»¬ëŸ¼ì´ ìˆë‹¤ë©´ ë¶„ë¦¬í•´ë‘ 
if 'game_episode' in X_test.columns:
    test_ids = X_test['game_episode']
    X_test = X_test.drop(columns=['game_episode'])
else:
    test_ids = test_meta_df['game_episode']

display(X_train.head(3))

       start_x    start_y  type_name  team_id  time_seconds
48  101.054205  52.757324          0     2354       124.367
51  100.221660   0.066028          0     2354       194.067
58    5.457847  66.343459          0     4639       215.033

In [7]:
# 1. ê²€ì¦ì„ ìœ„í•´ Train ë°ì´í„°ë¥¼ 8:2ë¡œ ë¶„í• 
X_tr, X_val, y_tr, y_val = train_test_split(X_train, y_train, test_size=0.2, random_state=42)

# 2. ëª¨ë¸ ì •ì˜
model = RandomForestRegressor(n_estimators=100, max_depth=10, random_state=42, n_jobs=-1)

# 3. í•™ìŠµ (ê²€ì¦ìš© ë°ì´í„°ë¡œ)
model.fit(X_tr, y_tr)

# 4. ê²€ì¦ ë° ì ìˆ˜ í™•ì¸
val_preds = model.predict(X_val)
rmse_x = np.sqrt(mean_squared_error(y_val['end_x'], val_preds[:, 0]))
rmse_y = np.sqrt(mean_squared_error(y_val['end_y'], val_preds[:, 1]))
mean_rmse = (rmse_x + rmse_y) / 2

print(f"[ê²€ì¦ ê²°ê³¼] RMSE - Xì¶•: {rmse_x:.4f}, Yì¶•: {rmse_y:.4f}")
print(f"í‰ê·  RMSE: {mean_rmse:.4f}")

# 5. ì „ì²´ ë°ì´í„°ë¡œ ìµœì¢… í•™ìŠµ (ì œì¶œ ì„±ëŠ¥ ê·¹ëŒ€í™”)
print("ì „ì²´ ë°ì´í„°ë¡œ ì¬í•™ìŠµ ì¤‘...")
model.fit(X_train, y_train)
print("ìµœì¢… ëª¨ë¸ í•™ìŠµ ì™„ë£Œ")

[ê²€ì¦ ê²°ê³¼] RMSE - Xì¶•: 13.9016, Yì¶•: 14.9452
í‰ê·  RMSE: 14.4234
ì „ì²´ ë°ì´í„°ë¡œ ì¬í•™ìŠµ ì¤‘...
ìµœì¢… ëª¨ë¸ í•™ìŠµ ì™„ë£Œ